.nav_contain {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 50px;
  background-color: rgb(80, 16, 139);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.active {
  background-color: rgba(80, 16, 139, 0);
}
.scrollFixed {
  box-shadow: 0px 2px 7px 3px #242424;
}

.logo {
  position: relative;
  width: 150px;
  height: 35px;
  margin-left: 10px;
  cursor: pointer;
  overflow: hidden;
}
.logo img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav_items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.nav_item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.nav {
  color: white;
  margin-right: 0.5rem;
  font-size: 1rem;
  list-style: none;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}
.nav_1 {
  color: white;
  margin-right: 0.5rem;
  border-bottom: 2px solid white;
  font-size: 1rem;
  list-style: none;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}
.menu {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.menu p {
  position: absolute;
  margin: 0;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}
.menu p:nth-child(1) {
  top: -5px;
  left: 0;
}

.menu p:nth-child(2) {
  top: 3px;
  left: 0;
}
.menu p:nth-child(3) {
  top: 11px;
  left: 0;
}
@media (max-width: 550px) {
  .menu {
    display: block;
    z-index: 100;
  }

  .nav_item {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(27, 6, 46);
    top: 0;
    left: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    transition: all 0.5s;
    z-index: 99;
  }

  .nav {
    font-size: 2rem;
    margin-bottom: 5px;
  }
  .nav_1 {
    font-size: 2rem;
    margin-bottom: 5px;
    position: relative;
    z-index: 10;
    color: #fff;
    text-shadow: 0 0 20px #cc00ff;
    font-family: "Quicksand", sans-serif;
  }
  .nav_1::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    color: #cc00ff;
    filter: blur(15px);
  }
  .nav_1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d349f5;
    z-index: -2;
    opacity: 0.5;
    filter: blur(50px);
  }

  .menuActive {
    left: 0;
  }
  .logo {
    width: 125px;
    height: 30px;
  }
} ;
