.container {
  padding: 50px 0 0 0;
  width: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.topBar {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  border-radius: 0 0 10px 10px;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
/* -------houseInfo----------- */
.houseInfo {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-width: 250px;
  align-items: center;
  background-color: rgb(255, 255, 255);

  /* flex-grow: 1; */
  padding: 10px 0 0 0;
}

.houseInfo div {
  display: flex;
  flex-direction: row;
  width: 95%;
  padding: 10px;
  border-bottom: 1.5px solid var(--line);
}
.houseInfo div h2 {
  color: var(--darkPrimary);
}
.houseInfo div:nth-child(1) {
  padding: 0 10px;
  border-bottom: none;
}

.houseInfo div:nth-child(9),
.houseInfo div:nth-child(10) {
  border-bottom: none;
}
.houseInfo .infoBtns {
  margin: auto 0 10px 0;
  padding: 0px;
}
.houseInfo div label {
  width: 70px;
  min-width: 70px;
  margin-right: 5px;
}
.infoEditBtn {
  width: 100%;
  height: 30px;
  background-color: var(--primary);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin: 0 5px 0 0;
}
.infoDelBtn {
  width: 70px;
  height: 30px;
  background-color: rgb(201, 3, 3);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin: 0;
}
.houseInfo .comment {
  max-height: 4rem;
}
.houseInfo .comment .commentValue {
  display: block;

  overflow: auto;
}

/* -------balance list----------- */
.balanceList {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;

  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 10px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 10px 16px 0px;
}

.list h2 {
  padding-bottom: 10px;
  color: var(--darkPrimary);
}
.list {
  width: 80%;
  padding: 0 10px 10px 10px;
}
@media (max-width: 920px) {
  .balanceList {
    flex-direction: column;
  }
  .list {
    width: 100%;
    padding: 0 10px 10px 10px;
  }
  .topBar {
    flex-direction: column;
    height: auto;
    align-items: center;
  }
  .houseInfo {
    width: 100%;
    border-bottom: 1px solid black;
    padding: 0;
  }
  .container {
    width: 80%;
  }
}

@media (max-width: 550px) {
  .container {
    width: 90%;
  }
  .editInput .btn button {
    width: 50px;
  }
}
@media (max-width: 440px) {
  .box {
    font-size: 0.8rem;
  }
  .editContent .editInput {
    flex-wrap: wrap;
  }
  .date {
    flex-grow: 1;
    min-width: 200px;
    padding-bottom: 5px;
  }
  .date input {
    border-right: #686868 1px solid;
  }

  .inputRight {
    min-width: 200px;
    flex-grow: 1;
    flex-wrap: nowrap;
  }
  .item {
    min-width: none;
  }
}
@media (max-width: 370px) {
  .balanceList {
    padding: 10px 0 10px 0;
  }
  .label {
    margin-right: 5px;
  }
  .box {
    width: 70px;
  }
  .customize input {
    font-size: 0.6rem;
  }
}
@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}
