.content {
  width: 98%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}
.content div {
  height: 100%;
  list-style: none;
  border-bottom: 1px solid black;
  padding: 5px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.item_no {
  min-width: 40px;
}
.item_name {
  min-width: 100px;
  width: 100px;
  font-size: 14px;
}
.item_address {
  min-width: 150px;
  width: 150px;
  font-size: 14px;
}
.item_rent {
  min-width: 70px;
  width: 70px;
}
.item_date {
  min-width: 80px;
}
.item_end {
  min-width: 95px;
}
.item_balance {
  min-width: 75px;
}
.item_comment {
  min-width: 100px;
  flex-grow: 1;
  overflow-y: auto;
}
.item_comment p {
  height: 100%;
  font-size: 12px;
  text-align: left;
  word-break: normal;
}
.item_edit {
  min-width: 50px;
  cursor: pointer;
}
.item_edit i {
  font-size: 2rem;
}
@media (max-width: 820px) {
  .content .item_address,
  .content .item_end {
    display: none;
  }
}
@media (max-width: 560px) {
  .content div p {
    font-size: 0.8rem;
  }
  .content .item_comment {
    display: none;
  }

  .content .item_date {
    min-width: 65px;
    width: 65px;
  }
  .content .item_no {
    min-width: 30px;
    width: 30px;
  }
  .content .item_balance {
    flex-grow: 1;
  }
  .item_edit i {
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  .content .item_date,
  .content .item_rent {
    display: none;
  }
}
