.homeContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.titleContent {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.homeContent .title {
  font-size: 7rem;
  position: relative;
  z-index: 10;
  color: #fff;
  text-shadow: 0 0 20px #cc00ff;
  font-family: "Quicksand", sans-serif;
}
.homeContent .title::after {
  content: "Fight";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: #cc00ff;
  filter: blur(15px);
}
.homeContent .title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e178fc;
  z-index: -2;
  opacity: 0.5;
  filter: blur(40px);
}
.homeContent .title2 {
  font-size: 3.5rem;
  position: relative;
  z-index: 10;
  color: #fff;
  text-shadow: 0 0 20px #cc00ff;
  font-family: "Quicksand", sans-serif;
}
.homeContent .title2:after {
  content: "FOR YOUR LIFE";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: #cc00ff;
  filter: blur(15px);
}
.homeContent .title2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e178fc;
  z-index: -2;
  opacity: 0.5;
  filter: blur(40px);
}
.loginBtn {
  margin-top: 20px;
  width: 200px;

  background-color: rgb(235, 179, 59);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  font-size: 1.5rem;
  padding: 5px;
  font-weight: 700;
}
.imgBx {
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.imgBx img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  z-index: 2;
}
.back {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: radial-gradient(#cc00ff7a, rgba(0, 0, 0, 0.7));
  background-blend-mode: multiply;
  z-index: 3;
}
@media (max-width: 450px) {
  .homeContent .title {
    font-size: 4rem;
  }
  .homeContent .title2 {
    font-size: 2rem;
  }
}
