.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 10px 0;
}
.container h1 {
  padding: 0 10px;
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: var(--darkPrimary);
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 240px;
  background-color: var(--lightSecondary);
  border-radius: 10px;
}
.btns {
  position: relative;
  display: flex;
  align-items: center;

  background-color: var(--lightSecondary);
  height: 50px;
  width: 210px;
}

.btns div {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  width: 70px;
  z-index: 2;
}
.wait,
.see,
.ask {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-size: 1rem;
  cursor: pointer;
  color: black;
}

.wait i,
.see i,
.ask i {
  position: relative;
  display: block;
  font-size: 1.5em;

  color: black;
  transition: 0.5s;
  opacity: 0;
}

.btnActive .wait i {
  transform: translateY(-32px);
  opacity: 1;
  color: #fcb1b4;
}
.btnActive .see i {
  transform: translateY(-32px);
  opacity: 1;
  color: #7fd681;
}
.btnActive .ask i {
  transform: translateY(-32px);
  opacity: 1;
  color: #f6b054;
}

.wait span {
  position: absolute;
  background-color: #ffc2c4;
  padding: 2px 12px;
  border-radius: 10px;
  transition: 0.5s;
  font-size: 1rem;
}
.see span {
  position: absolute;
  background-color: #8deb8e;
  padding: 2px 12px;
  border-radius: 10px;
  transition: 0.5s;
  font-size: 1rem;
  /* opacity: 0; */
}
.ask span {
  position: absolute;
  background-color: #ffe367;
  padding: 2px 12px;
  border-radius: 10px;
  transition: 0.5s;
  font-size: 1rem;
  /* opacity: 0; */
  /* transform: translateY(15px); */
}
.btnActive span {
  transform: translateY(-4px);
  opacity: 1;
}
.btns .indicator {
  position: absolute;

  top: -45%;
  width: 70px;
  height: 70px;
  background-color: var(--lightSecondary);
  z-index: 1;
  border-radius: 50%;
  transition: 0.5s;
}

.btns div:nth-child(1).btnActive ~ .indicator {
  transform: translateX(calc(70px * 0));
}
.btns div:nth-child(2).btnActive ~ .indicator {
  transform: translateX(calc(70px * 1));
}
.btns div:nth-child(3).btnActive ~ .indicator {
  transform: translateX(calc(70px * 2));
}
.list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.container h2 {
  padding-top: 10px;
}
@media (max-width: 350px) {
  .container h2 {
    font-size: 1rem;
    padding-top: 10px;
  }
}
