.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 10px 0;
}
.container h1 {
  padding: 0 10px;
  margin-bottom: 15px;
  border-bottom: 5px solid rgb(80, 16, 139);
}
.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.btns {
  margin-bottom: 1rem;
}
.btns span {
  padding-right: 5px;
}

.wait {
  width: 65px;
  padding: 0.2rem 0.5rem;

  border: #ffc6ff 2px solid;
  background-color: #ffc6ff;
  font-size: 1rem;
  cursor: pointer;
  color: black;
}
.see {
  width: 65px;
  padding: 0.2rem 0.5rem;

  border: #caffbf 2px solid;
  background-color: #caffbf;
  font-size: 1rem;
  cursor: pointer;
  color: black;
}
.ask {
  width: 65px;
  padding: 0.2rem 0.5rem;

  border: #fdffb6 2px solid;
  background-color: #fdffb6;
  font-size: 1rem;
  cursor: pointer;
  color: black;
}
@media (max-width: 280px) {
  .wait,
  .see,
  .ask {
    width: 60px;
  }
}
