.listContent {
  min-width: 150px;
  width: 230px;
  min-height: 210px;
  height: 290px;
  margin: 7px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fdffb6;
}
.active {
  background-color: #caffbf;
}
.bad {
  background-color: #ffadad;
}

.wait {
  background-color: #ffc6ff;
}

.listContent p {
  margin: 0;
  text-align: center;
  padding: 3px 2px;
}
.id {
  width: 100%;
  color: black;
  border-radius: 8px 8px 0 0;
  background-color: #f6b054;
}

.title {
  width: 100%;
  height: auto;
  min-height: 50px;
  background-color: #f6b054;
  color: white;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.title a {
  text-decoration: none;

  color: black;
  cursor: pointer;
}

.state {
  resize: none;
  width: 80%;
  height: 40px;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(233, 77, 108);
  border: 1px solid rgb(170, 170, 170);
  border-radius: 5px;
}

.save {
  width: 65px;
  padding: 0.2rem 0.5rem;
  border-radius: 5px 0 0 5px;
  border: #007cc0 2px solid;
  background-color: #007cc0;
  font-size: 1rem;
  cursor: pointer;
  color: white;
}
.delete {
  width: 65px;
  padding: 0.2rem 0.5rem;
  border-radius: 0 5px 5px 0;
  border: red 2px solid;
  background-color: red;
  font-size: 1rem;
  cursor: pointer;
  color: white;
}
.return {
  width: 65px;
  padding: 0.2rem 0.5rem;

  border: rgb(202, 157, 106) 2px solid;
  background-color: rgb(202, 157, 106);
  font-size: 1rem;
  cursor: pointer;
  color: white;
}
