.container {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
.container h2 {
  width: fit-content;
  border-bottom: 5px solid var(--darkPrimary);
  margin-bottom: 10px;
}
.content {
  display: flex;
  flex-direction: column;
}
.email {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.email label {
  color: rgb(87, 86, 86);
  margin-bottom: 3px;
}
.content div p {
  color: rgb(250, 27, 27);
  font-size: 0.8rem;
}
.email input {
  margin-bottom: 10px;
  border-radius: 50px;
  font-size: 1rem;
  outline-style: none;
  border: 2px solid rgb(163, 163, 163);
  padding: 5px 10px;
}

.password {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.password label {
  color: rgb(87, 86, 86);
  margin-bottom: 3px;
}
.password input {
  margin-bottom: 10px;
  border-radius: 50px;
  font-size: 1rem;
  outline-style: none;
  border: 2px solid rgb(163, 163, 163);
  padding: 5px 10px;
}

.container button {
  width: 100%;
  color: white;
  border: none;
  background-color: var(--primary);
  border-radius: 50px;
  font-size: 1rem;
  padding: 8px 20px;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 30px;
}
.check {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.check input {
  margin-top: 2px;
}
.email .wrong {
  border: 2px solid rgb(252, 64, 64);
}
.password .wrong {
  border: 2px solid rgb(252, 64, 64);
}

@media (max-width: 330px) {
  .container {
    width: 250px;
  }
}
